/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*-- import Fonts --*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*-- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 --*/

/*-- skeleton --*/

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    overflow-x: hidden;
}

.col-md-6 {
    margin-bottom: 15px;
}

.structure_card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px;
}
.dark {
    background-color: #2aaf80;
}
.light {
    background-color: #ffffff;
}

.icon {
    text-align: center;
    margin-top: 40px;
}

.str_card--head {
    position: relative;
    width: 100%;
    padding: 0 0 10px 0;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
}
.dark .str_card--head {
    color: #ffffff;
}
.light .str_card--head {
    color: #000;
}

.str_card--text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    font-size: 1rem;
    font-weight: 600;
}
.dark .str_card--text {
    color: #ffffff;
}
.light .str_card--text {
    color: #000;
}

.right_section_main{
	width: 100%;
	float: left;
	background-color: #ffffff;
    padding: 12px 40px 0px 40px;
    margin-top: 31px;
}
.dolar_tetx{
	width: 100%;
	float: left;

}
.donec_text{
	font-size: 17px;
    color: #110f0a;
    margin-left: 0;
    padding-bottom: 20px;
    z-index: 9;
    position: relative;
}

.special_text{
	color: #000;
	font-weight: 500;
}

.right_aero{
   max-width: 100%;
   left: -245px;
   position: relative;
   top: -160px;
}
.about_main{
	width: 100%;
	float: left;
	background-color: #2ba879;
    height: auto;
	margin-top: 70px;
	margin-bottom: 20px;
	position: relative;
 }

.about_main:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 110px;
    background-image: url(../images/about-top-bg.png);
    z-index: 1;
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.about_main:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-image: url(../images/about-bottom-bg.png);
    z-index: 1;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.images{
	margin: 30px;
	width: 100%;
    margin-left: 0px;
}
.layout_padding {
   padding: 90px 0;
}
